body {
    font-family: 'Courier';
}

img {
    height: auto;
}

.greeting-text {
    border-style: dotted;
    padding: 20px;
    font-size: 20px;
}

.rating-table{
    border-style: solid;
    border-width: 2px;
    font-size: 25px;
}
	
.center{
 display: block;
 margin: 0 auto;
}